.head {
  background-color: black;
  display: flex;
  /* align-self: center; */
  justify-content: center;
}
.title {
  position: relative;
  top: 10px;
  left: 40px;
  box-sizing: border-box;
  margin: 25px 0 0 0px;
  width: 200px;
  height: 200px;
  font-family: Inter;
  padding-bottom: 35px;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: var(
    --Purple-Division,
    linear-gradient(180deg, #7028e4 0%, #e5b2ca 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imge img {
  width: 240px;
}
